# EXPLORATORY DATA ANALYSIS EDA

![EDA.png](./img/steps_EDA.png)

# Proyecto módulo Data Analysis
En este proyecto vas a aplicar todo lo aprendido en el Fundamentals y el módulo de Data Analysis del bootcamp. Tendrás que realizar un análisis exploratorio de datos y presentar los resultados. Ten en cuenta lo siguiente:

* **Miembros**: El proyecto es individual
* **Datos**: Tienes que conseguir los datos por tu cuenta (ver abajo)
* **Fecha límite**: Viernes 4 de Abril a las 9.00h a través del campus y ese mismo día son las presentaciones. Tendremos dos entregas previas (Viernes 28 de Marzo a las 9.00h con un punto de partida de tema, hipótesis y datasets. El Jueves 3 de Abril a las 9.00h con el repositorio de github).


## Objetivo
Lo que queremos mediante este tipo de análisis es resolver un problema real apoyándonos en datos, por lo que tendrás que plantearte primero qué es lo que quieres resolver, y a partir de ahí identificar fuentes de datos e ir trabajando con ellos para acabar llegando a una conclusión. Plantea tus hipótesis antes de realizar el análisis exploratorio y después verifica si se han cumplido, o si has descubierto mediante los datos que lo que ocurría era justamente lo opuesto a lo que pensabas.


## Evaluación
* **Presentación** máximo 10 minutos donde expondrás tu caso (ver apartado Presentación)
* **Memoria** un jupyter notebook donde explicarás el desarrollo del proyecto con markdown y código de python. (Introducción, Fuentes de datos, Limpiezas, Desarrollo análisis, Medidas estadísticas, Visualizaciones, Conclusiones,..)
* **Código** hay que entregar todo el código desarrollado. También se tiene en cuenta (tipo solución, documentación...)
* **Subir el proyecto a tu GitHub personal**. Este gran esfuerzo tiene que ser compartido, y te recomiendo que te crees un repositorio en GitHub para ir añadiendo tus proyectos personales. En caso de que el proyecto se componga de datos sensibles o no se quiera publicar, se puede mantener en repositorio privado (consultar profesores).


## Entregable
El enlace al repositorio de github que habrá que subir a Google Classroom. Debe constar:
* Presentación
* Memoria
* Código

El codigo deberá seguir la siguiente estructura de carpetas:
1. src/: aquí irá todo el código
2. src/data: todos los archivos de datos utilizados en el analisis. No subir a GitHub archivos demasiado pesados.
3. src/notebooks: los notebooks usados para pruebas.
4. src/utils: todos los modulos, funciones auxiliares o clases creados para el desarrollo del proyecto.
5. src/memoria.ipynb: en este notebook tendrás que resumir de forma clara y ordenada todos los pasos de la analítica.

**GitHub**: hay que crear un README con una descripción de tu proyecto. Breve. El objetivo de este README es enterarse de forma rápida de qué va tu proyecto y qué tecnologías has utilizado para llevarlo a cabo, no es más que un escaparate de tu trabajo. Hay que ir documentando bien los trabajos para acabar el bootcamp con un buen portfolio. En [este enlace](https://github.com/alexhuang1117/Data-Science-Portfolio) tienes un ejemplo de cómo tener documentados los proyectos en tu GitHub. Encontrarás en el notebook de markdown todo lo que necesitas para crear un README decente.

## Presentación
Puesto que en la vida real la mayoría de presentaciones se realizan a un público no técnico, ésta no va a ser menos. Si tienes que explicar algo técnico, cuéntalo, pero para alguien que no sabe lo que significa. Por ejemplo, ¿cómo contarías qué es una matriz de correlación? **No queremos ver código**, ni cómo estructuraste el proyecto en carpetas, ni cómo de difícil ha sido limpiarlo. Al cliente/tu jefe le da igual :). Explicar cosas técnicas lleva tiempo por lo que piensa muy bien en lo que vas a decir y en cómo lo sintetizarás.

Tendrás que exponer bien tu caso de uso con su contexto, explicar qué transformaciones y línea de análisis has abordado, y acabar la presentación con unas conclusiones y oportunidades que nos brinda el proyecto, para cerrar el plantemiento inicial del caso de uso. 

**¿Formatos de la presentación?** Nada de Notebooks. Formato presentación en PowerPoint, Google Slides, Prezi o la plataforma que mejor conozcas, siendo perfectamente combinable con un dashboard.

**Consejos**: Si usas un PowerPoint... será tu apoyo a la hora de presentar, aquí el protagonista es tu discurso. Por favor, que la presentación no sea un conjunto de puntos inconexos. Intenta llevar un hilo, como si de una historia se tratase. Véndete, destaca las fortalezas de tu trabajo sobre las debilidades. Interactúa con el público. Si vas a contar algo de negocio, ¿puedes traducirlo a números? ¿Qué impacto tendrá tu analítica?. Muestra algunos datos concretos (estadísticos simples) para justificar tu business case o para cerrar tu presentación. Si has elegido una temática que está acorde con tus gustos/background, aprovecha al principio para contarlo y empatizar mucho más con el público. Si vas a hacer una demo, grábala por si te falla algo en la presentación (conexión a Internet). Prepárate las respuestas a algunas posibles preguntas en un anexo de la presentación.

**NOTA**: existen muchas plantillas gratuitas en la web para hacer presentaciones. [Aquí tienes unas cuantas](https://www.free-powerpoint-templates-design.com/free-powerpoint-templates-design/).


## Pasos del proyecto

1. Elegir temática
    1. **Elegir una temática y buscar datos en función de la misma**. Puede ocurrir que no encuentres datos que te sirvan para tu propósito, o que tengas que conseguirlos mediante APIs, scrapping, descarga de BBDD.... No obstante, esta opción es la que más se asemejaría a un caso real, ya que una gran problemática en este tipo de proyectos es encontrar datos.

    2. **Directamente ir a páginas de datos abiertos y escoger un dataset de tu interés**. Si no tienes clara la temática puedes buscar en alguno de los enlaces de datos (recomendable Kaggle) y escoger un tema que te motive.

2. Obtención de datos. ¿Puedes llevar a cabo el proyecto con estos datos?
3. Define tu hipótesis. ¿Qué piensas que puedes analizar de estos datos? ¿Qué vas a poder resolver? ¿Cómo lo vas a llevar a cabo? (**Viernes 20 de Diciembre**). Podrás utilizar el periodo de navidades para terminar de validarlo y pivotar a otro tema.
4. Preprocesado: obtén todos los datos de las diferentes fuentes que hayas utilizado, juntalos y ponlos en un formato entendible.
5. Limpia los datos: transformaciones, duplicados, missings, columnas inútiles...
6. Exploratorio: obtén todos los estadísticos y gráficos que necesites para entender bien tu dataset y apoyar tus argumentos.
7. Concluye con tu análisis si estabas o no en lo cierto acerca de tu planteamiento y tu hipótesis.
8. Crea un dashboard para representar tu análisis exploratorio si lo consideras necesario.
9. Crea una presentación con un hilo conductor sobre tu análisis exploratorio
10. Documenta tu proyecto y súbelo a GitHub.


## Datos
¿De dónde saco los datos? Posibles fuentes:
- [Web de datos abiertos del gobierno](https://datos.gob.es/)
- [OpenStreetMap](https://wiki.openstreetmap.org/wiki/API). Datos de ubicaciones (como Google Maps) abiertos
- [Obtención de datos bursátiles](https://financetrain.com/best-python-librariespackages-finance-financial-data-scientists/)
- [ESRI Datos abiertos España](https://opendata.esri.es/)
- [INE](https://www.ine.es/nomen2/ficheros.do)
- [Red.es](https://www.red.es/redes/es/que-hacemos/datos-abiertos)
- [Datos abiertos gobierno](https://www.hacienda.gob.es/es-ES/GobiernoAbierto/Datos%20Abiertos/Paginas/Catalogodedatosabiertos.aspx)
- [Ayuntamiento de Madrid](https://datos.madrid.es/portal/site/egob/)
- [Ayuntamiento de Barcelona](https://opendata-ajuntament.barcelona.cat/es)
- [Metro de Madrid](https://data-crtm.opendata.arcgis.com/)
- [Portal datos europeo I](https://data.europa.eu/euodp/es/home)
- [Portal datos europeo II](https://www.europeandataportal.eu/data/datasets?locale=en&minScoring=0)
- [Google Dataset Search](https://datasetsearch.research.google.com/)
- [Indicadores macro mundiales](https://databank.worldbank.org/home)
- [Indicadores macro mundiales](https://ilostat.ilo.org/data/country-profiles/)
- [Amplio repositorio de Datasets](https://datacommons.org/)
- [Datos macro mundiales](https://www.gapminder.org/data/)
- [GitHub con gran cantidad de APIs públicas](https://github.com/public-apis/public-apis)
- [Datos sobre migraciónn](https://migrationdataportal.org/es/node/2955)
- [Web de datos abiertos de España](https://www.epdata.es/)
- [Redapi: Plataforma de APIs con amplia capa gratuita](https://rapidapi.com/blog/most-popular-api/)
- [Artículo para trabajar con histórico de bolsa](https://towardsdatascience.com/how-to-get-stock-data-using-python-c0de1df17e75)
- [Otro gran repo de datasets](https://www.paperswithcode.com/datasets)
- [API de Idealista](https://www.idealista.com/data/productos/desarrollo/api-de-testigos)
- [API de Booking](https://developers.booking.com/api/index.html)
- [API de Tripadvisor](http://developer-tripadvisor.com/content-api/)
- [API de Facebook](https://developers.facebook.com/docs/apis-and-sdks?locale=es_ES)
- [API de Twitter](https://developer.twitter.com/en/docs)
- [API de Instagram](https://www.instagram.com/developer/)
- [APIs de Google Maps](https://cloud.google.com/maps-platform?hl=es)
- [Google Timeline](https://www.google.es/maps/timeline?pb). Todo tu registro de actividad de Google, como los lugares que has visitado

- [Alexa. Tráfico de webs](https://www.alexa.com/siteinfo)
- [Catastro](https://ovc.catastro.meh.es/ovcservweb/OVCSWLocalizacionRC/OVCCoordenadas.asmx)
- [Airbnb](http://insideairbnb.com/index.html)
- Web scrapping. Acceso automatizado a cualquier web.
- Kaggle: página con competiciones de data scientists. Muchísimos datasets.
- QPython 3L: APP para ejecutar código Python en el movil. Podrás sacar datos de tu actividad con el teléfono (horarios, geoposicionamiento)
- Coronavirus. Se están empezando a librerar muchísimos datasets con datos del coronavirus en todo el mundo. En Kaggle hay varios.



Si tienes algún tema sobre el que quieras investigar, y no encaja con ninguno de los enlaces propuestos, consúltalo con los profesores para investigar de dónde podríamos sacar datos para ese análisis.

In [87]:
import numpy as np
import pandas as pd

En la casilla siguiente me bajare la data de las importaciones de Urea a Ecuador del 2009 al 2024

In [88]:
data1 = pd.read_csv("/Users/auric/REPO_TEST/Entregas/Entrega 28 - 03 de abril de marzo/EDA Agricultura_Clima Ecuador/EDA/Data/Importaciones UREA/01:01:2009 - 31:12:2011.csv") 
data2 = pd.read_csv("/Users/auric/REPO_TEST/Entregas/Entrega 28 - 03 de abril de marzo/EDA Agricultura_Clima Ecuador/EDA/Data/Importaciones UREA/01:12:2012-31:12:2014.csv") 
data3 = pd.read_csv("/Users/auric/REPO_TEST/Entregas/Entrega 28 - 03 de abril de marzo/EDA Agricultura_Clima Ecuador/EDA/Data/Importaciones UREA/01:01:2015-31:12:2015.csv") 
data4 = pd.read_csv("/Users/auric/REPO_TEST/Entregas/Entrega 28 - 03 de abril de marzo/EDA Agricultura_Clima Ecuador/EDA/Data/Importaciones UREA/01:01:2016-31:12:2018.csv") 
data5 = pd.read_csv("/Users/auric/REPO_TEST/Entregas/Entrega 28 - 03 de abril de marzo/EDA Agricultura_Clima Ecuador/EDA/Data/Importaciones UREA/01:01:2019-31:12:2019.csv") 
data6 = pd.read_csv("/Users/auric/REPO_TEST/Entregas/Entrega 28 - 03 de abril de marzo/EDA Agricultura_Clima Ecuador/EDA/Data/Importaciones UREA/01:01:2020-31:12:2022.csv") 
data7 = pd.read_csv("/Users/auric/REPO_TEST/Entregas/Entrega 28 - 03 de abril de marzo/EDA Agricultura_Clima Ecuador/EDA/Data/Importaciones UREA/01:01:2023-31:12:2023.csv") 
data8 = pd.read_csv("/Users/auric/REPO_TEST/Entregas/Entrega 28 - 03 de abril de marzo/EDA Agricultura_Clima Ecuador/EDA/Data/Importaciones UREA/01:01:2024-12:31:2024.csv")

Ahora concatenare todos estos datos en orden descendente

In [89]:
data_total = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8], 
                       axis=0,           
                       ignore_index=True)

In [90]:
data_total.to_csv('Data/data_total_urea.csv')

Con esta funcion puedo visualizar todas las columnas

In [91]:
pd.options.display.max_columns = None
data_total

,RAZON SOCIAL,POTENCIAL UNO,NOMBRE COMERCIAL,RUC,CONSIGNATARIO,POSICION ARANCELARIA,CODIGO COMPLEMENTARIO,CODIGO SUPLEMENTARIO,DESCRIPCION POSICION,DESCRIPCION DEL DESPACHO,MARCA,MODELO,REFRENDO,ITEM,DAU,FECHA DESPACHO,FECHA EMBARQUE,FECHA LLEGADA,FECHA LIQUIDACION,FECHA PAGO,FECHA SALIDA ALMACEN,REGIMEN,NUMERO MANIFIESTO,MANIFIESTO,CODIGO DOCUMENTO TRANSPORTE,DOCUMENTO TRANSPORTE,ADUANA,PAIS ORIGEN,PAIS PROCEDENCIA,PAIS EMBARQUE,PUERTO EMBARQUE,VIA TRANSPORTE,CONTENEDORES,DEPOSITO,FOB U$S,FLETE U$S,SEGURO U$S,CIF U$S,FACTURA,VALOR FACTURA U$S,BASE IMPONIBLE U$S,KGS NETO,KGS BRUTO,UNIDADES,TIPO UNIDAD,PRECIO UNITARIO U$S,CANTIDAD COMERCIAL,UNIDAD COMERCIAL,PRECIO UNITARIO COMERCIAL U$S,TIPO UNIDAD NOMENCLADOR,ADVAL,MONEDA,EMBARCADOR,INCOTERM,CODIGO LIBERACION,ESTADO MERCADERIA,CLASE MERCADERIA,PAIS DESTINO,TOTAL FOB U$S,TOTAL FLETE U$S,TOTAL SEGURO U$S,TOTAL CIF U$S,TOTAL KGS NETO,TOTAL KGS BRUTO,TOTAL BASE IMPONIBLE,TOTAL CANTIDAD BULTOS,TOTAL AJUSTES,TOTAL OTROS AJUSTES,CLASE,VERIFICADOR,AGENTE AFIANZADO,NAVE,AGENCIA TRANSPORTE,EMPRESA TRANSPORTE,AFORADOR,FECHA AFORO,TIPO AFORO,ACTIVIDAD PRINCIPAL DEL IMPORTADOR,DIRECCION DEL IMPORTADOR,DIRECCION DEL CONSIGNATARIO,CONSOLIDADORA
0,DELCORP S.A.,SERVICIOS AGRICOLAS SOCIEDAD ANONIMA COMERCIAL...,DELCORP S.A.,991265414001,NaN,3102.10.10.00,0,0,Con un porcentaje de nitrógeno superior o igua...,"UREA-COLOR BLANCO, NITROGENO 46.0% MIN GRANULO...",NaN,NaN,28200910000815,1,14279592.0,2009-01-06,2008-10-27,2008-12-13,0000-00-00,0000-00-00,0000-00-00,IMPORTACION A CONSUMO,NaN,1851,NaN,MSCUVN989404,GUAYAQUIL MARITIMO,CHINA,VIET NAM,VIET NAM,VNSGN-HO CHI MINH CITY,MARITIMO,0.0,NaN,"359,550.25","76,110.00","1,157.71","436,817.97",NaN,0.0,0.0,"575,000.00","576,725.00","575,000.00",NaN,0.63,0.0,NaN,0.0,"kg, Kilogramo",0.0,DOL,KEYTRADE,NaN,"IVA 0 semillas ,bulbos,plantas,esquejes,raices...",NUEVO,NaN,NO ESPECIFICADO,"359,550.25","76,110.00","1,157.71","436,817.97","575,000.00","576,725.00",0.0,"11,500.00",0.0,0.0,BOLSA,ADUANA,01902288: ILLINGWORTH GARCIA CRISTOBAL LUIS,MSC PARANA,MEDITERRANEAN SHIPPING CO.ECUADOR C.A.,MEDITERANEAN SHIPPING,NaN,0000-00-00,AFORO FISICO,VENTA AL POR MAYOR DE FERTILIZANTES,V.E. ESTRADA 114 Y BALSAMOS,NaN,NaN
1,DUPOCSA PROTECTORES QUIMICOS PARA EL CAMPO S. A.,SERVICIOS AGRICOLAS SOCIEDAD ANONIMA COMERCIAL...,NaN,990856583001,NaN,3102.10.10.00,0,0,Con un porcentaje de nitrógeno superior o igua...,UREA,NaN,NaN,82200910000803,1,14581329.0,2009-02-19,2009-02-18,2009-02-20,0000-00-00,0000-00-00,0000-00-00,IMPORTACION A CONSUMO,NaN,810,NaN,PE-0192-04-2009020,HUAQUILLAS,RUSSIAN FEDERATION,PERU,PERU,PEPAI-PAITA,CARRETERA,0.0,NaN,"75,664.81","6,800.00",241.26,"82,706.07",NaN,0.0,0.0,"240,000.00","240,400.00",240.00,NaN,315.27,0.0,NaN,0.0,"kg, Kilogramo",0.0,DOL,ADM ANDINA PERU SRL,NaN,"IVA 0 semillas ,bulbos,plantas,esquejes,raices...",NUEVO,NaN,NO ESPECIFICADO,"75,664.81","6,800.00",241.26,"82,706.07","240,000.00","240,400.00",0.0,"4,800.00",0.0,0.0,SACO DE TEJIDO PLASTICO,ADUANA,01903692: PRIETO VEGA LAURA MACLOVIA,NaN,SERVIMODAL S.A.C.,SERVIMODAL S.A.C.,NaN,0000-00-00,AFORO DOCUMENTAL,5190-VENTA AL POR MAYOR DE OTROS PRODUCTOS,"PARA EL CAMPO VIA DURAN - TAMBO KM 9, DURAN",NaN,NaN
2,BANCO NACIONAL DE FOMENTO BNF,SERVICIOS AGRICOLAS SOCIEDAD ANONIMA COMERCIAL...,NaN,1760002790001,NaN,3102.10.10.00,0,0,Con un porcentaje de nitrógeno superior o igua...,UREA GRANULAR,NaN,NaN,28200910018185,1,14623238.0,2009-03-06,2009-03-02,2009-03-10,0000-00-00,0000-00-00,0000-00-00,IMPORTACION A CONSUMO,NaN,467,NaN,1,GUAYAQUIL MARITIMO,VENEZUELA,VENEZUELA,VENEZUELA,ZZZZZ-PUERTO DESCONOCIDO,MARITIMO,0.0,NaN,"5,781,583.00","748,095.50","17,682.18","6,547,360.50",NaN,0.0,0.0,"20,648,510.00","20,648,510.00","20,648.51",NaN,280.00,0.0,NaN,0.0,"kg, Kilogramo",0.0,DOL,IPSL INTERNATIONAL P,NaN,"Tarifa 0 IVA, Sector público, cuando concurran...",NUEVO,NaN,NO ESPECIFICADO,"5,781,583.00","748,095.50","17,682.18","6,547,360.50","20,648,510.00","20,648,510.00",0.0,1.00,0.0,0.0,SIN ENVASAR O SIN EMPAQUETAR,ADUANA,01903476: PAREDES VINUEZA SEGUNDO BENJAMIN,NaN,INVESTAMAR S.A.,AGENCIA NO REGULAR,NaN,0000-00-00,AFORO DOCUMENTAL,NaN,107 ANTE Y AV 10 DE AGOSTO,NaN,NaN
3,DUPOCSA PROTECTORES QUIMICOS PARA EL CAMPO S. A.,SERVICIOS AGRICOLAS SOCIEDAD ANONIMA COMERCIAL...,NaN,990856583001,NaN,3102.10.10.00,0,0,Con un porcentaje de nitrógeno superior o igua...,UREA PERLADA PARA USO FERTILIZANTE,NaN,NaN,82200910001064,1,14624789.0,2009-03-06,2009-03-04,2009-03-09,0000-00-00,0000-00-00,0000-00-00,IMPORTACION A CONSUMO,NaN,1118,NaN,028-2009,HUAQUILLAS,PERU,PERU,PERU,PEPAI-PAITA,CARRETERA,0.0,NaN,"76,244.80","4,800.00",243.45,"81,288.25",NaN,0.0,0.0,"240,000.00","240,400.00","240,000.00",NaN,0.32,0.0,NaN,0.0,"kg, Kilogramo",0.0,DOL,ADM ANDINA PERU S.R.,NaN,"IVA 0 semillas ,bulbos,plantas,esquejes,raices...",NUEVO,NaN,NO ESPECIFICADO,"76,244.80","4,800.00",243.45,"81,288.25","240,000.00","240,400.00",0.0,"4,800.00",0.0,0.0,SACO,ADUANA,01906284: NAVARRO RAMON ALBERTO DANILO,NaN,SANTA ESPERANZA S.R.L.,SANTA ESPERANZA S.R.L.,NaN,0000-00-00,AFORO DOCUMENTAL,5190-VENTA AL POR MAYOR DE OTROS PRODUCTOS,"PARA EL CAMPO VIA DURAN - TAMBO KM 9, DURAN",NaN,NaN
4,DUPOCSA PROTECTORES QUIMICOS PARA EL CAMPO S. A.,SERVICIOS AGRICOLAS SOCIEDAD ANONIMA COMERCIAL...,NaN,990856583001,NaN,3102.10.10.00,0,0,Con un porcentaje de nitrógeno superior o igua...,UREA PERLADA,NaN,NaN,82200910001123,1,14633955.0,2009-03-11,2009-03-10,2009-03-11,0000-00-00,0000-00-00,0000-00-00,IMPORTACION A CONSUMO,NaN,1197,NaN,PE0192042009033,HUAQUILLAS,RUSSIAN FEDERATION,PERU,PERU,PEPAI-PAITA,CARRETERA,0.0,NaN,"76,144.81","6,400.00",243.45,"82,788.26",NaN,0.0,0.0,"240,000.00","240,400.00","240,000.00",NaN,0.32,0.0,NaN,0.0,"kg, Kilogramo",0.0,DOL,ADM ANDINA PERU SRL,NaN,"IVA 0 semillas ,bulbos,plantas,esquejes,raices...",NUEVO,NaN,NO ESPECIFICADO,"76,144.81","6,400.00",243.45,"82,788.26","240,000.00","240,400.00",0.0,"4,800.00",0.0,0.0,SACO DE TEJIDO PLASTICO,ADUANA,01903692: PRIETO VEGA LAURA MACLOVIA,NaN,SERVIMODAL S.A.C.,SERVIMODAL S.A.C.,NaN,0000-00-00,AFORO DOCUMENTAL,5190-VENTA AL POR MAYOR DE OTROS PRODUCTOS,"PARA EL CAMPO VIA DURAN - TAMBO KM 9, DURAN",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1982,PRECISAGRO S.A.,NaN,NaN,1792522005001,NaN,3102.10.10.00,0,1,Con un porcentaje de nitrógeno superior o igua...,"UREA, UREA",SIN MARCA,SIN MODELO,2820241002997434,1,NaN,2024-12-16,2024-12-02,2024-12-23,2024-12-16,2024-12-17,0000-00-00,IMPORTACION A CONSUMO,NaN,CEC202477870199,CEC20247787019900020000,EC-01,GUAYAQUIL MARITIMO,TRINIDAD AND TOBAGO,TRINIDAD AND TOBAGO,TRINIDAD AND TOBAGO,TTPTS-POINT LISAS,MARITIMO,0.0,NaN,"1,062,900.00",0.0,"10,629.00","1,073,529.00",FG1-01097,"1,076,809.12","1,208,229.00","3,000,000.00",0.0,"3,000,000.00",KILOGRAMO BRUTO,0.35,"3,000.00",TM,354.3,"kg, Kilogramo",0.0,DOL,INCOFE S.A.S.,CIF,0640-TRANSFERENCIAS E IMPORTACIONES CON TARIFA...,NUEVO,NaN,ECUADOR,"1,076,809.12",0.0,"10,629.01","1,087,438.12","3,039,258.00",0.0,"1,222,138.12",0.0,0.0,0.0,NaN,NaN,01902441: TORRES & TORRES AGENTES DE ADUANAS T...,SEAHORSE,02777787-REMAR REPRESENTACIONES MARITIMAS DEL ...,02777787-REMAR REPRESENTACIONES MARITIMAS DEL ...,GEFARIAS-FARIAS VARGAS GENESIS ANDREINA,0000-00-00,AFORO DOCUMENTAL,9993-OTROS,"Sector Quitumbe, calle S31 y Quipu, conjunto A...",NaN,NaN
1983,PRECISAGRO S.A.,NaN,NaN,1792522005001,NaN,3102.10.10.00,0,1,Con un porcentaje de nitrógeno superior o igua...,"UREA, UREA",SIN MARCA,SIN MODELO,2820241002997434,2,NaN,2024-12-16,2024-12-02,2024-12-23,2024-12-16,2024-12-17,0000-00-00,IMPORTACION A CONSUMO,NaN,CEC202477870199,CEC20247787019900020000,EC-01,GUAYAQUIL MARITIMO,TRINIDAD AND TOBAGO,TRINIDAD AND TOBAGO,TRINIDAD AND TOBAGO,TTPTS-POINT LISAS,MARITIMO,0.0,NaN,"13,909.11",0.0,0.01,"13,909.12",FG1-01097,"1,076,809.12","13,909.14","39,258.00",0.0,"39,258.00",KILOGRAMO BRUTO,0.35,39.26,TM,354.3,"kg, Kilogramo",0.0,DOL,INCOFE S.A.S.,CIF,0640-TRANSFERENCIAS E IMPORTACIONES CON TARIFA...,NUEVO,NaN,ECUADOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01902441: TORRES & TORRES AGENTES DE ADUANAS T...,SEAHORSE,02777787-REMAR REPRESENTACIONES MARITIMAS DEL ...,02777787-REMAR REPRESENTACIONES MARITIMAS DEL ...,GEFARIAS-FARIAS VARGAS GENESIS ANDREINA,0000-00-00,AFORO DOCUMENTAL,9993-OTROS,"Sector Quitumbe, calle S31 y Quipu, conjunto A...",NaN,NaN
1984,YARECUADOR CIA LTDA,NaN,NaN,1792028140001,YARECUADOR CIA. LTDA.,3102.10.10.00,0,1,Con un porcentaje de nitrógeno superior o igua...,"UREA GRANULAR, UREA GRANULAR",SIN MARCA,PA38M2000,2820241003034107,1,NaN,2024-12-19,2024-12-02,2024-12-23,2024-12-19,2024-12-19,0000-00-00,IMPORTACION A CONSUMO,NaN,CEC202477870199,CEC20247787019900010000,1,GUAYAQUIL MARITIMO,TRINIDAD AND TOBAGO,TRINIDAD AND TOBAGO,TRINIDAD AND TOBAGO,TTPTS-POINT LISAS,MARITIMO,0.0,NaN,"780,340.00",0.0,"7,803.40","788,143.38",STL0110110448,"790,551.44","885,229.38","2,200,000.00",0.0,"2,200,000.00",KILOGRAMO BRUTO,0.35,"2,200.00",TM,354.7,"kg, Kilogramo",0.0,DOL,YARA SWITZERLAND LTD,CIF,0640-TRANSFERENCIAS E IMPORTACIONES CON TARIFA...,NUEVO,NaN,ECUADOR,"790,551.44",0.0,"7,905.51","798,456.94","2,228,789.00",0.0,"895,542.94",0.0,0.0,0.0,NaN,NaN,01902441: TORRES & TORRES AGENTES DE ADUANAS T...,SEAHORSE,02777787-REMAR REPRESENTACIONES MARITIMAS DEL ...,02777787-REMAR REPRESENTACIONES MARITIMAS DEL ...,NaN,0000-00-00,AFORO AUTOMATICO,0140-ACTIVIDADES DE SERVICIOS AGRICOLAS Y GANA...,KM 1 5 SOLAR 120 Y LOS ARCOS EDIF LOS A,NaN,NaN
1985,YARECUADOR CIA LTDA,NaN,NaN,1792028140001,YARECUADOR CIA. LTDA.,3102.10.10.00,0,1,Con un porcentaje de nitrógeno superior o igua...,"UREA GRANULAR, UREA GRANULAR",SIN MARCA,PA38M2000,2820241003034107,2,NaN,2024-12-19,2024-12-02,2024-12-23,2024-12-19,2024-12-19,0000-00-00,IMPORTACION A CONSUMO,NaN,CEC202477870199,CEC20247787019900010000,1,GUAYAQUIL MARITIMO,TRINIDAD AND TOBAGO,TRINIDAD AND TOBAGO,TRINIDAD AND TOBAGO,TTPTS-POINT LISAS,MARITIMO,0.0,NaN,"10,211.46",0.0,102.11,"10,313.57",STL0110110448,"790,551.44","10,313.59","28,789.00",0.0,"28,789.00",KILOGRAMO BRUTO,0.35,28.79,TM,354.7,"kg, Kilogramo",0.0,DOL,YARA SWITZERLAND LTD,CIF,0640-TRANSFERENCIAS E IMPORTACIONES CON TARIFA...,NUEVO,NaN,ECUADOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01902441: TORRES & TORRES AGENTES DE ADUANAS T...,SEAHORSE,02777787-REMAR REPRESENTACIONES MARITIMAS DEL ...,02777787-REMAR REPRESENTACIONES MARITIMAS DEL ...,NaN,0000-00-00,AFORO AUTOMATICO,0140-ACTIVIDADES DE SERVICIOS AGRICOLAS Y GANA...,KM 1 5 SOLAR 120 Y LOS ARCOS EDIF LOS A,NaN,NaN
1986,QUIMICA INDUSTRIAL MONTALVO AGUILAR QUIMASA S.A.,NaN,NaN,1790580202001,QUIMICA INDUSTRIAL MONTALVO AGUILAR QUIMASA S.A.,3102.10.10.00,0,1,Con un porcentaje de nitrógeno superior o igua...,"UREA, PARA USO AGRICOLA",HEXAGON,SIN MODELO,2820241003038095,1,NaN,2024-12-19,2024-12-02,2024-12-23,2024-12-19,2024-12-19,2024-12-26,IMPORTACION A CONSUMO,NaN,CEC202477870199,CEC20247787019900040000,EC-03,GUAYAQUIL MARITIMO,TRINIDAD AND TOBAGO,TRINIDAD AND TOBAGO,TRINIDAD AND TOBAGO,TTPTS-POINT LISAS,MARITIMO,0.0,NaN,"747,708.12",0.0,"4,300.29","752,008.44",2410511-0412,"747,708.12","840,653.44","2,026,172.00",0.0,"2,026,172.00",KILOGRAMO BRUTO,0.37,"2,026.17",TM,369.02,"kg, Kilogramo",0.0,DOL,HEXAGON TRADING AG,CFR,0640-TRANSFERENCIAS E IMPORTACIONES CON TARIFA...,NUEVO,NaN,ECUADOR,"747,708.12",0.0,"4,300.29","752,008.44","2,026,172.00",0.0,"840,653.44",0.0,0.0,0.0,NaN,NaN,01777833: CORADUANAS,SEAHORSE,02777787-REMAR REPRESENTACIONES MARITIMAS DEL ...,02777787-REMAR REPRESENTACIONES MARITIMAS DEL ...,NaN,0000-00-00,AFORO AUTOMATICO,5190-VENTA AL POR MAYOR DE OTROS PRODUCTOS,AMAZONAS N35-43 Y JUAN PABLO SANZ,NaN,NaN

Ahora, con una mascara escojo las columnas que me convienen.

In [92]:
data_total_2 = ['RAZON SOCIAL', 'FECHA EMBARQUE',
       'PAIS ORIGEN', 'VIA TRANSPORTE', 'PAIS DESTINO', 'FOB U$S', 'FLETE U$S', 'TOTAL KGS NETO']
data_total = data_total[data_total_2]

data_total

,RAZON SOCIAL,FECHA EMBARQUE,PAIS ORIGEN,VIA TRANSPORTE,PAIS DESTINO,FOB U$S,FLETE U$S,TOTAL KGS NETO
0,DELCORP S.A.,2008-10-27,CHINA,MARITIMO,NO ESPECIFICADO,"359,550.25","76,110.00","575,000.00"
1,DUPOCSA PROTECTORES QUIMICOS PARA EL CAMPO S. A.,2009-02-18,RUSSIAN FEDERATION,CARRETERA,NO ESPECIFICADO,"75,664.81","6,800.00","240,000.00"
2,BANCO NACIONAL DE FOMENTO BNF,2009-03-02,VENEZUELA,MARITIMO,NO ESPECIFICADO,"5,781,583.00","748,095.50","20,648,510.00"
3,DUPOCSA PROTECTORES QUIMICOS PARA EL CAMPO S. A.,2009-03-04,PERU,CARRETERA,NO ESPECIFICADO,"76,244.80","4,800.00","240,000.00"
4,DUPOCSA PROTECTORES QUIMICOS PARA EL CAMPO S. A.,2009-03-10,RUSSIAN FEDERATION,CARRETERA,NO ESPECIFICADO,"76,144.81","6,400.00","240,000.00"
...,...,...,...,...,...,...,...,...
1982,PRECISAGRO S.A.,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,"1,062,900.00",0.0,"3,039,258.00"
1983,PRECISAGRO S.A.,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,"13,909.11",0.0,NaN
1984,YARECUADOR CIA LTDA,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,"780,340.00",0.0,"2,228,789.00"
1985,YARECUADOR CIA LTDA,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,"10,211.46",0.0,NaN
1986,QUIMICA INDUSTRIAL MONTALVO AGUILAR QUIMASA S.A.,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,"747,708.12",0.0,"2,026,172.00"

Ahora revisare, columna a columna, los valores unicos y los NaN.

In [43]:
# Empezamos por FECHA EMBARQUE

In [93]:
data_total['FECHA EMBARQUE'].value_counts()

FECHA EMBARQUE
0000-00-00    187
2024-04-28     12
2024-10-15     11
2023-12-23     11
2021-12-30     10
             ...
2016-04-25      1
2016-04-03      1
2016-04-06      1
2016-03-29      1
2016-12-17      1
Name: count, Length: 962, dtype: int64

In [94]:
data_total['FECHA EMBARQUE'].isna().sum()

np.int64(0)

In [44]:
# PAIS ORIGEN

In [95]:
data_total['PAIS ORIGEN'].value_counts()

PAIS ORIGEN
RUSSIAN FEDERATION      1233
NO ESPECIFICADO          243
CHINA                    212
GERMANY                   41
PERU                      39
UNITED STATES             34
VENEZUELA                 27
UKRAINE                   24
BELARUS                   20
FINLAND                   17
MALAYSIA                  13
INDONESIA                 12
COLOMBIA                  12
FRANCE                     9
LITHUANIA                  9
TRINIDAD AND TOBAGO        7
ESTONIA                    7
EGYPT                      7
LATVIA                     5
PAISES BAJOS               3
INDIA                      2
SPAIN                      2
BELGIUM                    2
NIGERIA                    2
UNITED ARAB EMIRATES       1
POLAND                     1
NEW ZEALAND                1
SWITZERLAND                1
ALGERIA                    1
Name: count, dtype: int64

In [96]:
data_total['PAIS ORIGEN'].isna().sum()

np.int64(0)

In [17]:
# PAIS DESTINO

In [97]:
data_total['PAIS DESTINO'].value_counts()

PAIS DESTINO
ECUADOR            1935
NO ESPECIFICADO      22
Name: count, dtype: int64

In [98]:
data_total['PAIS DESTINO'].isna().sum()

np.int64(30)

In [52]:
# FOB U$S

In [99]:
data_total['FOB U$S'].value_counts()

FOB U$S
46,950.00     12
14,518.06      6
20,480.00      5
26,400.00      5
29,030.00      5
              ..
13,845.00      1
167,361.98     1
130,100.00     1
216,870.20     1
747,708.12     1
Name: count, Length: 1803, dtype: int64

In [100]:
data_total['FOB U$S'].isna().sum()

np.int64(0)

In [102]:
(data_total['FOB U$S'] == 0).sum()

np.int64(0)

In [57]:
# FLETE U$S

In [103]:
data_total['FLETE U$S'].value_counts()

FLETE U$S
0.00         270
0.0          122
23,560.00     12
5,000.00      10
33,000.00     10
            ...
97.42          1
581.98         1
212.70         1
283.59         1
76,110.00      1
Name: count, Length: 1179, dtype: int64

In [104]:
data_total['FLETE U$S'].isna().sum()

np.int64(0)

In [105]:
(data_total['FLETE U$S'] == 0).sum()

np.int64(122)

In [61]:
# TOTAL KGS NETO

In [106]:
data_total['TOTAL KGS NETO'].value_counts()

TOTAL KGS NETO
32,000.00       56
3,300,000.00    45
1,100,000.00    45
2,200,000.00    40
0.00            40
                ..
432,000.00       1
1,026,000.00     1
965,700.00       1
978.00           1
2,026,172.00     1
Name: count, Length: 837, dtype: int64

In [107]:
data_total['TOTAL KGS NETO'].isna().sum()

np.int64(205)

-Me he dado cuenta que en PAIS DE ORIGEN, tengo un no especificado.

-En pais destino tengo un par de no especificados y unos NaN

-En FLETE tengo unos 0.0 y 0.00

-En TOTAL KGS NETO tengo Unos 0.00 y unos NaN

In [108]:
data_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RAZON SOCIAL    1987 non-null   object
 1   FECHA EMBARQUE  1987 non-null   object
 2   PAIS ORIGEN     1987 non-null   object
 3   VIA TRANSPORTE  1987 non-null   object
 4   PAIS DESTINO    1957 non-null   object
 5   FOB U$S         1987 non-null   object
 6   FLETE U$S       1987 non-null   object
 7   TOTAL KGS NETO  1782 non-null   object
dtypes: object(8)
memory usage: 124.3+ KB

Me doy cuenta que las columnas monetarias estan como objetos. Tengo que pasarlas a int para poder modificarlas. Primero extraigo las comas y cualquier signo de dolar (porsiacaso).

In [109]:
# Defino las columnas a limpiar
columns_to_clean = ['FOB U$S', 'FLETE U$S', 'TOTAL KGS NETO']

# CConvierto los valores
for column in columns_to_clean:
    data_total[column] = (data_total[column]
        .str.replace('$', '')    # Remuevo los signos de dolar
        .str.replace(',', '')    # Remuevo las comas
        .str.strip()             # Remmuevo los espacio en blanco
    )

/var/folders/9d/njcmv3bs67bgg_6p6s5pyjsw0000gn/T/ipykernel_13422/47013616.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total[column] = (data_total[column]

Ahora cambio las filas FILETE U$S, FOB U$S Y TOTAL KGS NETO

In [110]:
data_total[['FLETE U$S', 'FOB U$S', 'TOTAL KGS NETO']] = data_total[['FLETE U$S', 'FOB U$S', 'TOTAL KGS NETO']].apply(pd.to_numeric, errors='coerce')

/var/folders/9d/njcmv3bs67bgg_6p6s5pyjsw0000gn/T/ipykernel_13422/53454506.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total[['FLETE U$S', 'FOB U$S', 'TOTAL KGS NETO']] = data_total[['FLETE U$S', 'FOB U$S', 'TOTAL KGS NETO']].apply(pd.to_numeric, errors='coerce')

In [111]:
data_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RAZON SOCIAL    1987 non-null   object
 1   FECHA EMBARQUE  1987 non-null   object
 2   PAIS ORIGEN     1987 non-null   object
 3   VIA TRANSPORTE  1987 non-null   object
 4   PAIS DESTINO    1957 non-null   object
 5   FOB U$S         1987 non-null   float64
 6   FLETE U$S       1862 non-null   float64
 7   TOTAL KGS NETO  1782 non-null   float64
dtypes: float64(3), object(5)
memory usage: 124.3+ KB

In [112]:
# Define columns to process
columns = ['FLETE U$S', 'TOTAL KGS NETO']

for col in columns:
    # Calculate means by RAZON SOCIAL (excluding zeros and NaN)
    means_by_razon = data_total[data_total[col] > 0].groupby('RAZON SOCIAL')[col].mean()
    
    # Calculate overall mean for fallback
    overall_mean = data_total[data_total[col] > 0][col].mean()
    
    # 1. Replace NaN with RAZON SOCIAL means, then overall mean
    data_total[col] = data_total[col].fillna(data_total['RAZON SOCIAL'].map(means_by_razon))
    data_total[col] = data_total[col].fillna(overall_mean)
    
    # 2. Replace zeros with RAZON SOCIAL means, then overall mean
    data_total.loc[data_total[col] == 0, col] = (
        data_total.loc[data_total[col] == 0, 'RAZON SOCIAL']
        .map(means_by_razon)
        .fillna(overall_mean)
    )

# Verify results
for col in columns:
    print(f"\n{col}:")
    print(f"NaN values: {data_total[col].isna().sum()}")
    print(f"Zero values: {(data_total[col] == 0).sum()}")

FLETE U$S:
NaN values: 0
Zero values: 0

TOTAL KGS NETO:
NaN values: 0
Zero values: 0

/var/folders/9d/njcmv3bs67bgg_6p6s5pyjsw0000gn/T/ipykernel_13422/1235694554.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total[col] = data_total[col].fillna(data_total['RAZON SOCIAL'].map(means_by_razon))
/var/folders/9d/njcmv3bs67bgg_6p6s5pyjsw0000gn/T/ipykernel_13422/1235694554.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total[col] = data_total[col].fillna(overall_mean)
/var/folders/9d/njcmv3bs67bgg_6p6s5pyjsw0000gn/T/ipykernel_13422/1235694554.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total[col] = data_total[col].fillna(data_total['RAZON SOCIAL'].map(means_by_razon))
/var/folders/9d/njcmv3bs67bgg_6p6s5pyjsw0000gn/T/ipykernel_13422/1235694554.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_total[col] = data_total[col].fillna(overall_mean)

Paso con las variables no numericas. Siendo que es un valor representativo, voy a distribuir los valores del mismo entre 6 paises.

In [113]:
data_total[data_total['PAIS ORIGEN'] == 'NO ESPECIFICADO']

,RAZON SOCIAL,FECHA EMBARQUE,PAIS ORIGEN,VIA TRANSPORTE,PAIS DESTINO,FOB U$S,FLETE U$S,TOTAL KGS NETO
290,QUIMICA INDUSTRIAL MONTALVO AGUILAR QUIMASA S.A.,2012-11-30,NO ESPECIFICADO,MARITIMO,ECUADOR,222794.00,33000.00,550000.0
291,IMPORTADORA INDUSTRIAL AGRICOLA DEL MONTE,2012-12-08,NO ESPECIFICADO,MARITIMO,ECUADOR,153291.84,12885.00,312000.0
292,SOLVESA ECUADOR S.A,2012-12-16,NO ESPECIFICADO,MARITIMO,ECUADOR,282403.62,18502.00,637480.0
293,FERTILIZANTES DEL PACIFICO FERPACIFIC S.A.,2012-12-30,NO ESPECIFICADO,MARITIMO,ECUADOR,133980.00,20880.00,348000.0
294,DELCORP S.A.,2012-12-30,NO ESPECIFICADO,MARITIMO,ECUADOR,870812.12,109672.75,2099000.0
...,...,...,...,...,...,...,...,...
543,DELCORP S.A.,2014-08-13,NO ESPECIFICADO,MARITIMO,ECUADOR,98761.00,26000.00,273000.0
544,INTERAMERICANA DE PRODUCTOS QUIMICOS DEL ECUAD...,2014-08-18,NO ESPECIFICADO,MARITIMO,ECUADOR,160398.00,33516.00,479864.0
545,INTERAMERICANA DE PRODUCTOS QUIMICOS DEL ECUAD...,2014-08-18,NO ESPECIFICADO,MARITIMO,ECUADOR,369869.50,71294.08,1096832.0
546,DELCORP S.A.,2014-08-17,NO ESPECIFICADO,MARITIMO,ECUADOR,45582.00,13310.00,126000.0
547,DELCORP S.A.,2014-07-31,NO ESPECIFICADO,MARITIMO,ECUADOR,49776.65,4985.48,55000.0

In [114]:
# First, let's get all NO ESPECIFICADO records
no_spec_mask = data_total['PAIS ORIGEN'] == 'NO ESPECIFICADO'
total_no_spec = no_spec_mask.sum()

# Create list of target countries
target_countries = ['RUSSIAN FEDERATION', 'CHINA', 'UNITED STATES', 'PERU', 'MALAYSIA', 'INDONESIA']

# Calculate number of records per country (approximately 1/6 each)
records_per_country = total_no_spec // 6

# Create random assignments
random_assignments = np.repeat(target_countries, records_per_country)
# Handle any remaining records by randomly assigning them
remainder = total_no_spec - len(random_assignments)
if remainder > 0:
    random_assignments = np.concatenate([
        random_assignments,
        np.random.choice(target_countries, remainder)
    ])

# Shuffle the assignments
np.random.shuffle(random_assignments)

# Replace NO ESPECIFICADO with random assignments
data_total.loc[no_spec_mask, 'PAIS ORIGEN'] = random_assignments

# Verify the distribution
print("Distribution after changes:")
for country in target_countries:
    count = len(data_total[data_total['PAIS ORIGEN'] == country])
    print(f"{country}: {count} records")

print("\nRemaining 'NO ESPECIFICADO':", 
      len(data_total[data_total['PAIS ORIGEN'] == 'NO ESPECIFICADO']))

Distribution after changes:
RUSSIAN FEDERATION: 1273 records
CHINA: 253 records
UNITED STATES: 74 records
PERU: 79 records
MALAYSIA: 54 records
INDONESIA: 53 records

Remaining 'NO ESPECIFICADO': 0

In [115]:
data_total

,RAZON SOCIAL,FECHA EMBARQUE,PAIS ORIGEN,VIA TRANSPORTE,PAIS DESTINO,FOB U$S,FLETE U$S,TOTAL KGS NETO
0,DELCORP S.A.,2008-10-27,CHINA,MARITIMO,NO ESPECIFICADO,359550.25,76110.000000,575000.0
1,DUPOCSA PROTECTORES QUIMICOS PARA EL CAMPO S. A.,2009-02-18,RUSSIAN FEDERATION,CARRETERA,NO ESPECIFICADO,75664.81,6800.000000,240000.0
2,BANCO NACIONAL DE FOMENTO BNF,2009-03-02,VENEZUELA,MARITIMO,NO ESPECIFICADO,5781583.00,748095.500000,20648510.0
3,DUPOCSA PROTECTORES QUIMICOS PARA EL CAMPO S. A.,2009-03-04,PERU,CARRETERA,NO ESPECIFICADO,76244.80,4800.000000,240000.0
4,DUPOCSA PROTECTORES QUIMICOS PARA EL CAMPO S. A.,2009-03-10,RUSSIAN FEDERATION,CARRETERA,NO ESPECIFICADO,76144.81,6400.000000,240000.0
...,...,...,...,...,...,...,...,...
1982,PRECISAGRO S.A.,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,1062900.00,69739.484070,3039258.0
1983,PRECISAGRO S.A.,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,13909.11,69739.484070,2764157.8
1984,YARECUADOR CIA LTDA,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,780340.00,69739.484070,2228789.0
1985,YARECUADOR CIA LTDA,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,10211.46,69739.484070,2782829.8
1986,QUIMICA INDUSTRIAL MONTALVO AGUILAR QUIMASA S.A.,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,747708.12,35237.435098,2026172.0

Ahora borrare las filas que tengan una fecha nula.

In [116]:
len(data_total[data_total['FECHA EMBARQUE'] == '0000-00-00'])

187

In [117]:
data_total = data_total[data_total['FECHA EMBARQUE'] != '0000-00-00']

In [118]:
print("\nAfter removal:")
print("Total records:", len(data_total))
print("Remaining invalid dates:", 
      len(data_total[data_total['FECHA EMBARQUE'] == '0000-00-00']))

After removal:
Total records: 1800
Remaining invalid dates: 0

Cambio el nombre de la columna de fecha para que pueda concidir con los otros Data Sets

In [119]:
data_total = data_total.rename(columns={'FECHA EMBARQUE': 'FECHA'})

Ahora guardo el csv

In [120]:
data_total.to_csv('Data/data_total_urea.csv')

Ahora vamos a importar un DataSet del clima en coordenadas de Guayaquil, desde el 2009 hasta 2024

In [121]:
clima_1 = pd.read_csv('https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/2009/84117099999.csv')
clima_2 = pd.read_csv('https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/2010/84117099999.csv')
clima_3 = pd.read_csv('https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/2011/84117099999.csv')
clima_4 = pd.read_csv('https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/2012/84117099999.csv')
clima_5 = pd.read_csv('https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/2013/84117099999.csv')
clima_6 = pd.read_csv('https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/2014/84117099999.csv')
clima_7 = pd.read_csv('https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/2015/84117099999.csv')
clima_8 = pd.read_csv('https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/2016/84117099999.csv')
clima_9 = pd.read_csv('https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/2017/84117099999.csv')
clima_10 = pd.read_csv('https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/2018/84117099999.csv')
clima_11 = pd.read_csv('https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/2019/84117099999.csv')
clima_12 = pd.read_csv('https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/2020/84117099999.csv')
clima_13 = pd.read_csv('https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/2021/84117099999.csv')
clima_14 = pd.read_csv('https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/2022/84117099999.csv')
clima_15 = pd.read_csv('https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/2023/84117099999.csv')
clima_16 = pd.read_csv('https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/2024/84117099999.csv')


pd.options.display.max_columns = None

clima_1
clima_16

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,TEMP,TEMP_ATTRIBUTES,DEWP,DEWP_ATTRIBUTES,SLP,SLP_ATTRIBUTES,STP,STP_ATTRIBUTES,VISIB,VISIB_ATTRIBUTES,WDSP,WDSP_ATTRIBUTES,MXSPD,GUST,MAX,MAX_ATTRIBUTES,MIN,MIN_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNDP,FRSHTT
0,84117099999,2024-01-01,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",79.3,24,72.3,24,9999.9,0,999.9,0,6.2,23,6.8,23,13.0,999.9,84.2,*,75.2,*,0.00,I,999.9,0
1,84117099999,2024-01-02,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",79.2,21,72.1,21,9999.9,0,999.9,0,6.2,21,7.5,21,11.1,999.9,85.8,,75.2,*,0.00,I,999.9,0
2,84117099999,2024-01-03,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",80.0,23,71.8,23,1011.0,8,9.2,8,6.2,23,7.9,23,12.0,999.9,87.3,,75.6,,0.00,I,999.9,0
3,84117099999,2024-01-04,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",78.9,23,72.3,23,1011.6,5,9.8,5,6.2,23,5.8,23,13.0,999.9,84.9,,74.5,,0.00,B,999.9,0
4,84117099999,2024-01-05,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",79.1,22,72.5,22,1011.0,4,9.2,4,6.2,20,6.4,22,11.1,999.9,84.2,*,74.5,,0.00,I,999.9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,84117099999,2024-12-27,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",80.8,24,68.7,24,1010.3,4,8.5,4,6.2,24,9.1,24,14.0,999.9,90.1,,75.2,*,0.00,I,999.9,0
352,84117099999,2024-12-28,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",79.9,24,69.1,24,9999.9,0,999.9,0,6.2,24,6.1,24,12.0,999.9,89.2,,75.0,,0.00,I,999.9,0
353,84117099999,2024-12-29,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",77.2,23,71.6,23,9999.9,0,999.9,0,6.2,23,5.0,23,8.0,999.9,85.8,,73.4,*,0.08,G,999.9,10000
354,84117099999,2024-12-30,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",78.3,23,70.4,23,9999.9,0,999.9,0,6.2,23,5.8,23,8.9,999.9,84.2,*,74.7,,0.00,G,999.9,0
355,84117099999,2024-12-31,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",78.1,23,69.5,23,1010.8,4,9.0,4,6.2,23,7.3,23,13.0,999.9,84.9,,75.2,*,0.00,I,999.9,0

Ahora juntamos las tablas de todos los años en un unico dataset.

In [123]:
data_total_clima = pd.concat([clima_1, clima_2, clima_3, clima_4, clima_5, clima_6, clima_7, clima_8, clima_9, clima_10, clima_11, clima_12, clima_13, clima_14, clima_15, clima_16,], 
                       axis=0,           
                       ignore_index=True) 

data_total_clima

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,TEMP,TEMP_ATTRIBUTES,DEWP,DEWP_ATTRIBUTES,SLP,SLP_ATTRIBUTES,STP,STP_ATTRIBUTES,VISIB,VISIB_ATTRIBUTES,WDSP,WDSP_ATTRIBUTES,MXSPD,GUST,MAX,MAX_ATTRIBUTES,MIN,MIN_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNDP,FRSHTT
0,84117099999,2009-01-01,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",76.1,24,67.3,24,9999.9,0,999.9,0,7.0,24,5.8,24,14.0,999.9,80.6,*,69.8,*,0.00,I,999.9,0
1,84117099999,2009-01-02,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",77.8,19,65.8,19,9999.9,0,999.9,0,7.0,19,7.9,19,14.0,999.9,82.4,*,75.2,*,0.00,I,999.9,0
2,84117099999,2009-01-03,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",78.7,22,67.0,22,9999.9,0,999.9,0,7.0,22,7.3,22,12.0,999.9,82.4,*,75.2,*,0.00,I,999.9,0
3,84117099999,2009-01-04,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",77.5,23,67.5,23,9999.9,0,999.9,0,6.9,23,5.2,23,8.9,999.9,84.2,*,73.4,*,99.99,,999.9,10000
4,84117099999,2009-01-05,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",79.3,22,67.7,22,9999.9,0,999.9,0,7.0,22,8.4,22,15.9,999.9,82.4,*,77.0,*,0.00,I,999.9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5800,84117099999,2024-12-27,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",80.8,24,68.7,24,1010.3,4,8.5,4,6.2,24,9.1,24,14.0,999.9,90.1,,75.2,*,0.00,I,999.9,0
5801,84117099999,2024-12-28,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",79.9,24,69.1,24,9999.9,0,999.9,0,6.2,24,6.1,24,12.0,999.9,89.2,,75.0,,0.00,I,999.9,0
5802,84117099999,2024-12-29,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",77.2,23,71.6,23,9999.9,0,999.9,0,6.2,23,5.0,23,8.0,999.9,85.8,,73.4,*,0.08,G,999.9,10000
5803,84117099999,2024-12-30,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",78.3,23,70.4,23,9999.9,0,999.9,0,6.2,23,5.8,23,8.9,999.9,84.2,*,74.7,,0.00,G,999.9,0
5804,84117099999,2024-12-31,-0.95,-80.683333,14.63,"ELOY ALFARO INTERNATIONAL, EC",78.1,23,69.5,23,1010.8,4,9.0,4,6.2,23,7.3,23,13.0,999.9,84.9,,75.2,*,0.00,I,999.9,0

Ahora voy a escoger solo las columnas que me convienen. Fecha, temperatura y precipitacion.

In [124]:
data_total_clima_2 = ['DATE', 'LATITUDE',
       'LONGITUDE', 'NAME', 'TEMP', 'PRCP']
data_total_clima = data_total_clima[data_total_clima_2]

data_total_clima

,DATE,LATITUDE,LONGITUDE,NAME,TEMP,PRCP
0,2009-01-01,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",76.1,0.00
1,2009-01-02,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",77.8,0.00
2,2009-01-03,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",78.7,0.00
3,2009-01-04,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",77.5,99.99
4,2009-01-05,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",79.3,0.00
...,...,...,...,...,...,...
5800,2024-12-27,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",80.8,0.00
5801,2024-12-28,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",79.9,0.00
5802,2024-12-29,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",77.2,0.08
5803,2024-12-30,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",78.3,0.00
5804,2024-12-31,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",78.1,0.00

Ahora voy a revisar cada columna.

In [ ]:
# Empezamos por DATE

In [125]:
len(data_total_clima[data_total_clima['DATE'] == '0000-00-00'])

0

In [126]:
data_total_clima['DATE'].value_counts()

DATE
2009-01-01    1
2019-08-31    1
2019-08-29    1
2019-08-28    1
2019-08-27    1
             ..
2014-04-28    1
2014-04-27    1
2014-04-26    1
2014-04-25    1
2024-12-31    1
Name: count, Length: 5805, dtype: int64

In [127]:
data_total_clima['DATE'].isna().sum()

np.int64(0)

Ahora revisamos LATITUDE

In [128]:
data_total_clima['LATITUDE'].value_counts()

LATITUDE
-0.95    5805
Name: count, dtype: int64

In [129]:
data_total_clima['LATITUDE'].isna().sum()

np.int64(0)

Ahora buscamos Ahora

In [130]:
data_total_clima['NAME'].value_counts()

NAME
ELOY ALFARO INTERNATIONAL, EC    5805
Name: count, dtype: int64

In [131]:
data_total_clima['NAME'].isna().sum()

np.int64(0)

Ahora revisamos TEMP

In [132]:
data_total_clima['TEMP'].value_counts()

TEMP
79.6    99
78.6    99
78.9    95
76.1    88
79.5    88
        ..
82.9     1
83.7     1
68.8     1
69.6     1
86.9     1
Name: count, Length: 139, dtype: int64

In [133]:
data_total_clima['TEMP'].isna().sum()

np.int64(0)

Ahora revisamos PRCP

In [134]:
data_total_clima['PRCP'].value_counts()

PRCP
0.00     5028
99.99     188
0.02       78
0.04       71
0.01       71
0.08       64
0.12       40
0.03       34
0.16       30
0.20       23
0.24       22
0.31       18
0.28       18
0.35       10
0.51        9
0.43        9
0.39        7
0.47        7
0.71        6
0.55        5
0.59        5
1.18        4
1.10        4
1.02        3
0.79        3
1.85        2
0.63        2
0.87        2
0.94        2
1.89        2
0.83        2
1.14        2
2.36        2
0.98        2
1.81        2
0.91        2
0.67        2
1.77        2
1.61        1
2.28        1
0.17        1
0.09        1
2.20        1
2.68        1
1.50        1
5.99        1
0.75        1
3.07        1
3.23        1
2.60        1
1.38        1
1.46        1
2.09        1
1.30        1
1.65        1
2.24        1
2.64        1
1.26        1
1.22        1
7.13        1
Name: count, dtype: int64

In [135]:
data_total_clima['PRCP'].isna().sum()

np.int64(0)

Ahora cambio la columna DATE por FECHA, para que cuadre con el dataframe anterior

In [136]:
data_total_clima = data_total_clima.rename(columns={'DATE': 'FECHA'})

In [137]:
print("Updated column names:")
print(data_total_clima.columns.tolist())

Updated column names:
['FECHA', 'LATITUDE', 'LONGITUDE', 'NAME', 'TEMP', 'PRCP']

In [138]:
data_total_clima.to_csv('Data/data_total_clima.csv')

Ahora vamos a unir los dos datasets

In [139]:
merged_data_urea_clima = pd.merge(
    left=data_total,           # primary dataset (fewer rows)
    right=data_total_clima,    # secondary dataset
    on='FECHA',                # common key for joining
    how='left'                 # keep only data_total rows
)

In [140]:
merged_data_urea_clima

,RAZON SOCIAL,FECHA,PAIS ORIGEN,VIA TRANSPORTE,PAIS DESTINO,FOB U$S,FLETE U$S,TOTAL KGS NETO,LATITUDE,LONGITUDE,NAME,TEMP,PRCP
0,DELCORP S.A.,2008-10-27,CHINA,MARITIMO,NO ESPECIFICADO,359550.25,76110.000000,575000.0,NaN,NaN,NaN,NaN,NaN
1,DUPOCSA PROTECTORES QUIMICOS PARA EL CAMPO S. A.,2009-02-18,RUSSIAN FEDERATION,CARRETERA,NO ESPECIFICADO,75664.81,6800.000000,240000.0,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",78.7,99.99
2,BANCO NACIONAL DE FOMENTO BNF,2009-03-02,VENEZUELA,MARITIMO,NO ESPECIFICADO,5781583.00,748095.500000,20648510.0,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",78.5,0.00
3,DUPOCSA PROTECTORES QUIMICOS PARA EL CAMPO S. A.,2009-03-04,PERU,CARRETERA,NO ESPECIFICADO,76244.80,4800.000000,240000.0,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",80.3,0.00
4,DUPOCSA PROTECTORES QUIMICOS PARA EL CAMPO S. A.,2009-03-10,RUSSIAN FEDERATION,CARRETERA,NO ESPECIFICADO,76144.81,6400.000000,240000.0,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",78.9,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,PRECISAGRO S.A.,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,1062900.00,69739.484070,3039258.0,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",77.4,0.00
1796,PRECISAGRO S.A.,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,13909.11,69739.484070,2764157.8,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",77.4,0.00
1797,YARECUADOR CIA LTDA,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,780340.00,69739.484070,2228789.0,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",77.4,0.00
1798,YARECUADOR CIA LTDA,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,10211.46,69739.484070,2782829.8,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",77.4,0.00
1799,QUIMICA INDUSTRIAL MONTALVO AGUILAR QUIMASA S.A.,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,747708.12,35237.435098,2026172.0,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",77.4,0.00

In [141]:
merged_data_urea_clima.to_csv('Data/merged_data_urea_clima.csv')

Ahora que tenemos nuestras importaciones y nuestro clima en una misma tabla, vamos a proceder a agregar el precio historico de la urea en estos mismos dias.

In [142]:
data_1_precio_urea = pd.read_csv("/Users/auric/REPO_TEST/Entregas/Entrega 28 - 03 de abril de marzo/EDA Agricultura_Clima Ecuador/EDA/Data/Precios historicos UREA/Urea Granular FOB Middle East Futures Historical Data.csv")

In [143]:
data_1_precio_urea

            Date   Price    Open    High     Low   Vol. Change %
0     12/31/2024  369.00  369.00  369.00  369.00    NaN    0.00%
1     12/30/2024  369.00  369.00  369.00  369.00    NaN    0.00%
2     12/27/2024  369.00  369.00  369.00  369.00    NaN    0.82%
3     12/26/2024  366.00  366.00  366.00  366.00    NaN    0.00%
4     12/24/2024  366.00  366.00  366.00  366.00    NaN    0.00%
...          ...     ...     ...     ...     ...    ...      ...
1825  07/03/2017  186.50  186.50  186.50  186.50    NaN   -0.27%
1826  06/30/2017  187.00  187.00  187.00  187.00    NaN    0.40%
1827  06/29/2017  186.25  186.25  186.25  186.25  0.05K    0.13%
1828  06/28/2017  186.00  186.00  186.00  186.00    NaN   -0.13%
1829  06/27/2017  186.25  186.25  186.25  186.25    NaN   -0.53%

[1830 rows x 7 columns]

Primero renombro la columna Date a FECHA para que cuadre con los otros.

In [144]:
data_1_precio_urea = data_1_precio_urea.rename(columns={'Date': 'FECHA'})

In [145]:
data_1_precio_urea

           FECHA   Price    Open    High     Low   Vol. Change %
0     12/31/2024  369.00  369.00  369.00  369.00    NaN    0.00%
1     12/30/2024  369.00  369.00  369.00  369.00    NaN    0.00%
2     12/27/2024  369.00  369.00  369.00  369.00    NaN    0.82%
3     12/26/2024  366.00  366.00  366.00  366.00    NaN    0.00%
4     12/24/2024  366.00  366.00  366.00  366.00    NaN    0.00%
...          ...     ...     ...     ...     ...    ...      ...
1825  07/03/2017  186.50  186.50  186.50  186.50    NaN   -0.27%
1826  06/30/2017  187.00  187.00  187.00  187.00    NaN    0.40%
1827  06/29/2017  186.25  186.25  186.25  186.25  0.05K    0.13%
1828  06/28/2017  186.00  186.00  186.00  186.00    NaN   -0.13%
1829  06/27/2017  186.25  186.25  186.25  186.25    NaN   -0.53%

[1830 rows x 7 columns]

Ahora cambiamos la estructura de las fechas

In [146]:
data_1_precio_urea['FECHA'] = pd.to_datetime(data_1_precio_urea['FECHA']).dt.strftime('%Y-%m-%d')

In [147]:
data_1_precio_urea

           FECHA   Price    Open    High     Low   Vol. Change %
0     2024-12-31  369.00  369.00  369.00  369.00    NaN    0.00%
1     2024-12-30  369.00  369.00  369.00  369.00    NaN    0.00%
2     2024-12-27  369.00  369.00  369.00  369.00    NaN    0.82%
3     2024-12-26  366.00  366.00  366.00  366.00    NaN    0.00%
4     2024-12-24  366.00  366.00  366.00  366.00    NaN    0.00%
...          ...     ...     ...     ...     ...    ...      ...
1825  2017-07-03  186.50  186.50  186.50  186.50    NaN   -0.27%
1826  2017-06-30  187.00  187.00  187.00  187.00    NaN    0.40%
1827  2017-06-29  186.25  186.25  186.25  186.25  0.05K    0.13%
1828  2017-06-28  186.00  186.00  186.00  186.00    NaN   -0.13%
1829  2017-06-27  186.25  186.25  186.25  186.25    NaN   -0.53%

[1830 rows x 7 columns]

Ahora removemos las columnas innutiles

In [148]:
data_1_precio_urea = data_1_precio_urea.drop(columns=['Open', 'High', 'Low', 'Vol.'])

In [75]:
merge_importaciones_clima_precio = pd.merge(
    merged_data_urea_clima,
    data_1_precio_urea,
    on='FECHA',
    how='inner'
)

In [76]:
merge_importaciones_clima_precio

,RAZON SOCIAL,FECHA,PAIS ORIGEN,VIA TRANSPORTE,PAIS DESTINO,FOB U$S,FLETE U$S,TOTAL KGS NETO,LATITUDE,LONGITUDE,NAME,TEMP,PRCP,Price,Change %
0,ROGEL JIMENEZ JAIME ENRIQUE,2017-07-06,RUSSIAN FEDERATION,CARRETERA,ECUADOR,5508.00,407.080000,3.200000e+04,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",76.7,0.0,184.25,-0.41%
1,ROGEL JIMENEZ JAIME ENRIQUE,2017-07-20,RUSSIAN FEDERATION,CARRETERA,ECUADOR,3900.00,306.600000,3.200000e+04,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",75.2,0.0,184.25,-1.47%
2,ROGEL JIMENEZ JAIME ENRIQUE,2017-07-20,RUSSIAN FEDERATION,CARRETERA,ECUADOR,3000.00,235.850000,4.266667e+04,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",75.2,0.0,184.25,-1.47%
3,SOTO JIMENEZ ROXI DEL CISNE,2017-07-20,VENEZUELA,CARRETERA,ECUADOR,2986.75,200.020000,5.200000e+04,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",75.2,0.0,184.25,-1.47%
4,ACABADOS TEXTILES DEL ECUADOR S.A. ACATEXTIL,2017-07-19,COLOMBIA,CARRETERA,ECUADOR,141.00,5.600000,1.741200e+04,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",73.4,0.0,187.00,1.49%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,PRECISAGRO S.A.,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,1062900.00,69739.484070,3.039258e+06,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",77.4,0.0,342.50,-0.29%
611,PRECISAGRO S.A.,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,13909.11,69739.484070,2.764158e+06,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",77.4,0.0,342.50,-0.29%
612,YARECUADOR CIA LTDA,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,780340.00,69739.484070,2.228789e+06,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",77.4,0.0,342.50,-0.29%
613,YARECUADOR CIA LTDA,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,10211.46,69739.484070,2.782830e+06,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",77.4,0.0,342.50,-0.29%
614,QUIMICA INDUSTRIAL MONTALVO AGUILAR QUIMASA S.A.,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,747708.12,35237.435098,2.026172e+06,-0.95,-80.683333,"ELOY ALFARO INTERNATIONAL, EC",77.4,0.0,342.50,-0.29%

In [77]:
merge_importaciones_clima_precio.to_csv('Data/merge_importaciones_clima_precio.csv')

Ahora voy a transferir los datos del precio del ETF de Gas Natural

In [171]:
data_1_precio_nat_gas = pd.read_csv("/Users/auric/REPO_TEST/Entregas/Entrega 28 - 03 de abril de marzo/EDA Agricultura_Clima Ecuador/EDA/Data/Precios Historicos Nat Gas/FCG ETF Stock Price History.csv")

In [172]:
data_1_precio_nat_gas

            Date  Price   Open   High    Low     Vol. Change %
0     03/28/2025  24.64  24.70  24.80  24.43  140.47K   -0.61%
1     03/27/2025  24.79  24.96  25.05  24.66  197.88K   -1.78%
2     03/26/2025  25.24  25.37  25.62  25.18  133.59K    0.24%
3     03/25/2025  25.18  25.20  25.38  25.07  326.65K    0.16%
4     03/24/2025  25.14  24.83  25.23  24.83  183.09K    1.66%
...          ...    ...    ...    ...    ...      ...      ...
4110  01/08/2009  66.10  65.10  66.10  63.96    8.01K    0.99%
4111  01/07/2009  65.45  68.60  68.65  64.42    7.67K   -4.24%
4112  01/06/2009  68.35  67.50  69.70  67.50    8.56K    3.09%
4113  01/05/2009  66.30  63.60  67.15  63.60   16.09K    5.66%
4114  01/02/2009  62.75  59.40  63.33  59.40    8.29K    6.54%

[4115 rows x 7 columns]

Empezamos cambiando la columna de Date  Fecha

In [173]:
data_1_precio_nat_gas = data_1_precio_nat_gas.rename(columns={'Date': 'FECHA'})

Ahora cambiaremos la estructura de las fechas

In [175]:
data_1_precio_nat_gas['FECHA'] = pd.to_datetime(data_1_precio_nat_gas['FECHA']).dt.strftime('%Y-%m-%d')

In [176]:
data_1_precio_nat_gas

           FECHA  Price   Open   High    Low     Vol. Change %
0     2025-03-28  24.64  24.70  24.80  24.43  140.47K   -0.61%
1     2025-03-27  24.79  24.96  25.05  24.66  197.88K   -1.78%
2     2025-03-26  25.24  25.37  25.62  25.18  133.59K    0.24%
3     2025-03-25  25.18  25.20  25.38  25.07  326.65K    0.16%
4     2025-03-24  25.14  24.83  25.23  24.83  183.09K    1.66%
...          ...    ...    ...    ...    ...      ...      ...
4110  2009-01-08  66.10  65.10  66.10  63.96    8.01K    0.99%
4111  2009-01-07  65.45  68.60  68.65  64.42    7.67K   -4.24%
4112  2009-01-06  68.35  67.50  69.70  67.50    8.56K    3.09%
4113  2009-01-05  66.30  63.60  67.15  63.60   16.09K    5.66%
4114  2009-01-02  62.75  59.40  63.33  59.40    8.29K    6.54%

[4115 rows x 7 columns]

Removemos las columnas innutiles

In [177]:
data_1_precio_nat_gas = data_1_precio_nat_gas.drop(columns=['Open', 'High', 'Low', 'Vol.'])

Combinamos con la la tabla de clima y precio

In [178]:
merge_precio_urea_nat_gas = pd.merge(
    data_1_precio_urea,
    data_1_precio_nat_gas,
    on='FECHA',
    how='inner'
)

In [180]:
merge_precio_urea_nat_gas

           FECHA  Price_x Change %_x  Price_y Change %_y
0     2024-12-31   369.00      0.00%    24.63      1.11%
1     2024-12-30   369.00      0.00%    24.36      2.35%
2     2024-12-27   369.00      0.82%    23.80      0.38%
3     2024-12-26   366.00      0.00%    23.71     -0.71%
4     2024-12-24   366.00      0.00%    23.88      1.62%
...          ...      ...        ...      ...        ...
1822  2017-07-03   186.50     -0.27%    20.88      2.00%
1823  2017-06-30   187.00      0.40%    20.47      0.20%
1824  2017-06-29   186.25      0.13%    20.43      1.95%
1825  2017-06-28   186.00     -0.13%    20.04      0.91%
1826  2017-06-27   186.25     -0.53%    19.86     -0.55%

[1827 rows x 5 columns]

In [181]:
merge_precio_urea_nat_gas.to_csv('Data/merge_precio_urea_nat_gas.csv')

In [182]:
merge_importaciones_urea_nat_gas = pd.merge(
    data_total,
    data_1_precio_nat_gas,
    on='FECHA',
    how='inner'
)

In [183]:
merge_importaciones_urea_nat_gas

,RAZON SOCIAL,FECHA,PAIS ORIGEN,VIA TRANSPORTE,PAIS DESTINO,FOB U$S,FLETE U$S,TOTAL KGS NETO,Price,Change %
0,DUPOCSA PROTECTORES QUIMICOS PARA EL CAMPO S. A.,2009-02-18,RUSSIAN FEDERATION,CARRETERA,NO ESPECIFICADO,75664.81,6800.000000,240000.0,54.10,-4.08%
1,BANCO NACIONAL DE FOMENTO BNF,2009-03-02,VENEZUELA,MARITIMO,NO ESPECIFICADO,5781583.00,748095.500000,20648510.0,43.95,-11.66%
2,DUPOCSA PROTECTORES QUIMICOS PARA EL CAMPO S. A.,2009-03-04,PERU,CARRETERA,NO ESPECIFICADO,76244.80,4800.000000,240000.0,45.95,4.84%
3,DUPOCSA PROTECTORES QUIMICOS PARA EL CAMPO S. A.,2009-03-10,RUSSIAN FEDERATION,CARRETERA,NO ESPECIFICADO,76144.81,6400.000000,240000.0,44.40,5.46%
4,DUPOCSA PROTECTORES QUIMICOS PARA EL CAMPO S. A.,2009-03-12,RUSSIAN FEDERATION,CARRETERA,NO ESPECIFICADO,76144.80,6400.000000,240000.0,47.10,5.13%
...,...,...,...,...,...,...,...,...,...,...
1242,PRECISAGRO S.A.,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,1062900.00,69739.484070,3039258.0,25.64,-1.80%
1243,PRECISAGRO S.A.,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,13909.11,69739.484070,2764157.8,25.64,-1.80%
1244,YARECUADOR CIA LTDA,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,780340.00,69739.484070,2228789.0,25.64,-1.80%
1245,YARECUADOR CIA LTDA,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,10211.46,69739.484070,2782829.8,25.64,-1.80%
1246,QUIMICA INDUSTRIAL MONTALVO AGUILAR QUIMASA S.A.,2024-12-02,TRINIDAD AND TOBAGO,MARITIMO,ECUADOR,747708.12,35237.435098,2026172.0,25.64,-1.80%

In [184]:
merge_importaciones_clima_precio.to_csv('Data/merge_importaciones_urea_nat_gas.csv')

Ahora importamos el oro

In [192]:
data_1_precio_oro = pd.read_csv("/Users/auric/REPO_TEST/Entregas/Entrega 28 - 03 de abril de marzo/EDA Agricultura_Clima Ecuador/EDA/Data/Datos Oro/GLD ETF Stock Price History.csv")

In [193]:
data_1_precio_oro

            Date   Price    Open    High     Low    Vol. Change %
0     12/31/2024  242.13  241.05  242.52  241.05   2.52M    0.62%
1     12/30/2024  240.63  241.08  241.08  239.58   3.52M   -0.32%
2     12/27/2024  241.40  241.20  241.95  241.05   4.73M   -0.69%
3     12/26/2024  243.07  242.39  243.56  242.20   4.65M    0.68%
4     12/24/2024  241.44  241.49  241.66  240.82   2.42M    0.20%
...          ...     ...     ...     ...     ...     ...      ...
4047  01/08/2009   84.46   84.40   84.89   83.75  10.72M    2.07%
4048  01/07/2009   82.75   84.56   84.58   82.21  13.37M   -2.80%
4049  01/06/2009   85.13   83.37   85.70   83.00  12.88M    0.77%
4050  01/05/2009   84.48   83.62   84.68   83.24   9.58M   -2.03%
4051  01/02/2009   86.23   85.93   86.61   85.84   6.41M   -0.34%

[4052 rows x 7 columns]

In [194]:
data_1_precio_oro = data_1_precio_oro.rename(columns={'Date': 'FECHA'})

In [196]:
data_1_precio_oro = data_1_precio_oro.drop(columns=['Open', 'High', 'Low', 'Vol.'])

In [203]:
data_1_precio_oro['FECHA'] = pd.to_datetime(data_1_precio_oro['FECHA']).dt.strftime('%Y-%m-%d')

In [204]:
data_1_precio_oro

           FECHA   Price Change %
0     2024-12-31  242.13    0.62%
1     2024-12-30  240.63   -0.32%
2     2024-12-27  241.40   -0.69%
3     2024-12-26  243.07    0.68%
4     2024-12-24  241.44    0.20%
...          ...     ...      ...
4047  2009-01-08   84.46    2.07%
4048  2009-01-07   82.75   -2.80%
4049  2009-01-06   85.13    0.77%
4050  2009-01-05   84.48   -2.03%
4051  2009-01-02   86.23   -0.34%

[4052 rows x 3 columns]

In [205]:
data_1_precio_oro.to_csv('Data/data_1_precio_oro.csv')

In [208]:
merge_precio_urea_nat_gas_oro = pd.merge(
    merge_precio_urea_nat_gas,
    data_1_precio_oro,
    on='FECHA',
    how='inner'
)

In [209]:
merge_precio_urea_nat_gas_oro

           FECHA  Price_x Change %_x  Price_y Change %_y   Price Change %
0     2024-12-31   369.00      0.00%    24.63      1.11%  242.13    0.62%
1     2024-12-30   369.00      0.00%    24.36      2.35%  240.63   -0.32%
2     2024-12-27   369.00      0.82%    23.80      0.38%  241.40   -0.69%
3     2024-12-26   366.00      0.00%    23.71     -0.71%  243.07    0.68%
4     2024-12-24   366.00      0.00%    23.88      1.62%  241.44    0.20%
...          ...      ...        ...      ...        ...     ...      ...
1822  2017-07-03   186.50     -0.27%    20.88      2.00%  116.09   -1.64%
1823  2017-06-30   187.00      0.40%    20.47      0.20%  118.02   -0.25%
1824  2017-06-29   186.25      0.13%    20.43      1.95%  118.32   -0.49%
1825  2017-06-28   186.00     -0.13%    20.04      0.91%  118.90    0.08%
1826  2017-06-27   186.25     -0.53%    19.86     -0.55%  118.81    0.38%

[1827 rows x 7 columns]